header {
    background-color: red;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.inner-header {
    display: flex;
    background-color: #fff;
    max-width: 1366px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.inner-header .logo{
    text-align: center;
    font-family: "Sofia", cursive;
    font-size: 40px;

}