.filter-s li a{
    font-weight: 600;
    font-size: 12px;
}
.filter-s li p{
    font-size: 12px;
    padding: 8px 20px;
    font-weight: normal;
    border: solid lightgray 1px;
    width: fit-content;
}
.pop{
    border-radius: 5px;;
}
.fil{
    border-radius: 20px;
}
.filter-s{
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin: 150px 0 40px 0;
    justify-content: center;
    text-align: center;
}
.filter-s ul{
    justify-content: space-between;
}
li span{
    background-color: rgb(247, 247, 247);
    padding: 10px 20px;
    border-radius: 20px;
}