.kotak-content {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 8px;
    cursor: pointer;
}
.kotak-content img {
    height: 240px;
    width: 100%;
    min-width: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.kotak-content .title {
    font-size: 14px;
    font-weight: normal;
    float: left;
    width: 225px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kotak-content .category {
    color: rgb(67, 66, 66);
    font-size: 16px;
}
.kotak-content .likes,
.kotak-content .view {
    font-size: 12px;
    color: gray;
    width: fit-content;
    float: left;
    margin-top: 2px;
}
.kotak-content .title,
.kotak-content .likes,
.kotak-content .view {
    padding: 0 5px;
    overflow: hidden;
}