#judul .title-section {
    text-align: center;
    margin: 48px 0;
    font-size: 55px;
    font-weight: normal;
}
p{
    text-align: center;
    font-size: 15px;
}
#judul {
    text-align: center;
}
.s-search{
    background-color: none;
    padding: 16px 420px 16px 20px;
    border-radius: 50px;
    border: solid lightgray 1px;
    text-align: start;
    margin: 50px;
}