.suggest-s li a{
    border: solid lightgray 1px;
    padding: 10px 20px;
    font-weight: normal;
    border-radius: 20px;
}

.suggest-s p{
    font-size: 12px;
}

.suggest-s{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}