.card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 8px;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 10px 10px 0px black;
    transform: translateY(-1px) translateX(-1px);
}
.gambar {
    height: 250px;
    width: 100%;
    min-width: 40px;
    object-fit: cover;
    border-bottom: 1px solid black;
}

.nama {
    font-size: 18px;
}
.ulasan {
    color: rgb(67, 66, 66);
    font-size: 14px;
}
.harga{
    color: #FF971D;
}
.kategori {
    color: rgb(67, 66, 66);
    font-size: 14px;
    background-color: #DDFFD2;
    padding: 10px;
   
}
.nama,
.ulasan,
.harga {
    margin-top: 8px;
    overflow: hidden;
    margin: 0 16px;

}